<% @boat = Boat.find(params[:boat_id]) %>
  <div data-controller="map-game" data-map-game-boat-longitude-value="<%= @boat.longitude%>" data-map-game-boat-latitude-value="<%= @boat.latitude%>" data-map-game-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-game-client-id-value="<%= ENV["CLIENT_ID"] %>" data-map-game-client-secret-value="<%= ENV["CLIENT_SECRET"] %>" style="width: 100%; height: 90vh; padding-top: 9px;">
  </div>


  <h2>boat direction: choose an integer between 1 and 10</h2>
  <%= simple_form_for(@boat) do |f| %>
  <%= f.input :direction %>
  <%= f.submit %>
<% end %>

<p>current lat / lon </p>
<%= @boat.latitude %>
<%= @boat.longitude %>
