
<div
  data-controller="map-game direction"
  data-direction-windir-value=""
  data-direction-boat-id-value="<%= @boat.id %>"
  data-map-game-boat-id-value="<%= @boat.id %>"
  data-map-game-marker-start-latitude-value="<%= @boat.game.race.starting_latitude%>"
  data-map-game-marker-start-longitude-value="<%= @boat.game.race.starting_longitude%>"
  data-map-game-marker-ending-latitude-value="<%= @boat.game.race.ending_latitude%>"
  data-map-game-marker-ending-longitude-value="<%= @boat.game.race.ending_longitude%>"
  data-map-game-marker-ending-icon-url-value="<%= image_path "icons8-triangular-flag-48.png" %>"
  data-map-game-boat-longitude-value="<%= @boat.longitude%>"
  data-map-game-boat-latitude-value="<%= @boat.latitude%>"
  data-map-game-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-game-client-id-value="<%= ENV["CLIENT_ID"] %>"
  data-map-game-client-secret-value="<%= ENV["CLIENT_SECRET"] %>">

  <div class="navbar-game">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-4">
            <a class="navbar-brand" href="">
              <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678973429/logo_stormy_crossing_lpvg58.png" />
            </a>
            <h5 class="text-center" ><%= @boat.game.race.departure_flag%> <%= @boat.game.race.departure_port%></h5>
            <h5 class="text-center" data-map-game-target="ddeparture"></h5>
            <h5 class="text-center" ><%= @boat.game.race.arrival_flag%> <%= @boat.game.race.arrival_port%></h5>
            <h5 class="text-center" data-map-game-target="darrival"></h5>

            <h5 data-map-game-target="average-speed">vitesse moyenne : 27 mph</h5>
            <h5 data-map-game-target="days">jours : 15</h5>
      </div>
  </div>

  <div class="d-flex">

    <div data-map-game-target="map" style="width: 100%; height: 100vh; padding-top: 9px;">

      <div class="card poly">
        <div class="card-header d-flex">
          <img src="https://cdn.aerisapi.com/wxicons/v2/<%= @image_url %>" class="weather-image me-3" alt="Image météo">
          <div class="h4 mt-3 ms-4">wind :
              <p><%= @wind_speedy%> Mph   -    <%= @winddir %></p>
          </div>
       </div>

      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <div data-direction-target="allure" class="card message-direction mt-3 ">Vaillant</div>
          <div data-map-game-target="boat-speed" class="input-group mt-5 speed-boat">
            <p>vitesse du boat : </p>
          </div>
          <div class="btn btn-navigation" data-action="click->map-game#togglePrecipitationsLayer"> <i class="fa-solid fa-cloud-showers-water text-warning text-center fa-xl"></i></div>
          <div class="btn btn-navigation" data-action="click->map-game#toggleRadarLayer"><i class="fa-solid fa-cloud-sun-rain text-warning text-center fa-xl"></i></div>
          <div class="btn btn-navigation" data-action="click->map-game#toggleWindLayer"><i class="fa-solid fa-cloud-sun-rain text-warning text-center fa-xl "></i></div>
          <footer class="blockquote-footer">stormy crossing power <cite title="Source Title">4</cite></footer>
        </blockquote>
      </div>
    </div>

    <div class="boussole" style="position:absolute" data-map-game-target="jointure" >
      <div class="parent" style="position:relative">
        <?xml version="1.0" encoding="UTF-8"?>
          <svg data-map-game-target="wind" data-direction-target="wind" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 952 952" style="width: 400px;position: absolute;left: -18px; z-index:2;transform: rotate(<%= @wind_direction%>deg)">

            <defs>
              <style>
                .cls-1, .cls-2, .cls-3 {
                  fill: none;
                }

                .cls-4 {
                  fill: #fff;
                }

                .cls-5 {
                  fill: #c1272d;
                }

                .cls-2 {
                  stroke: #333;
                  stroke-width: 5px;
                }

                .cls-2, .cls-3 {
                  stroke-miterlimit: 10;
                }

                .cls-3 {
                  stroke: #0b615f;
                  stroke-width: 133px;
                }
              </style>
            </defs>
            <g id="Background">
              <path class="cls-5" d="m482.08,105.32l49.54-10.84c2.43-.38,4.22,2.05,3.07,3.97l-53.35,93.53c-1.15,1.92-4.09,2.05-6.4,0l-52.2-93.65c.26-1.92,2.18-4.09,4.48-3.84l55.68,10.81"/>
              <circle class="cls-3" cx="475.2" cy="477.8" r="209.2"/>
            </g>
            <g id="Sections">
              <g id="Section_10" data-name="Section 10">
                <g id="Calque_2" data-name="Calque 2">
                  <path class="cls-2" d="m377.93,360.13c-26.59-32.14-51.14-64.31-77.66-96.42-12.51,10.2-24.12,21.49-34.68,33.69,32.18,29.09,66.19,56.9,99.07,86.12,5.48-6.44,11.54-12.36,18.06-17.74-25.93-30.58-49.68-63.4-75.29-93.33"/>
                </g>
              </g>
              <g id="Section_9" data-name="Section 9">
                <g id="Calque_2-2" data-name="Calque 2">
                  <path class="cls-2" d="m223.67,362.3c7.3-15.74,16.15-30.74,26.29-44.81,4.92-6.83,10.15-13.44,15.65-19.8,9.06,7.59,18.04,15.27,26.97,23,24.11,20.86,47.91,42.06,72.17,62.74-11.15,13.02-20,28.06-25.94,44.5-41.13-15.91-81.77-31.36-122.57-47.91,2.26-6,4.74-11.9,7.43-17.71Z"/>
                </g>
              </g>
              <g id="Section_8" data-name="Section 8">
                <g id="Calque_2-3" data-name="Calque 2">
                  <path class="cls-2" d="m202.02,432.43c2.92-17.7,7.59-35.11,14.05-51.88,41.99,14.22,81.6,33.14,122.88,47.01-5.59,15.34-8.65,31.9-8.65,49.18,0,26.03,6.93,50.45,19.04,71.51-28.55,14.84-56.03,31.57-83.84,47.71-10.58,6.14-21.46,11.54-32.06,17.84-30.51-54.33-41.59-119.66-31.41-181.37Z"/>
                </g>
              </g>
              <g id="Section_7" data-name="Section 7">
                <g id="Calque_2-4" data-name="Calque 2">
                  <path class="cls-2" d="m319.61,565.59c9.96-5.71,19.76-11.7,29.17-18.33,12.97,22.99,32.09,42.03,55.12,54.93-17.03,29.05-34.07,58.11-51.1,87.16-5.69,9.71-11.55,18.48-17.24,28.19-5.71-3.49-20.82-12.25-30.55-19.54-4-4-8-7-13-11-23.83-21.67-44.15-44.51-58.65-73.21,9.22-5.5,18.78-10.37,28.22-15.47,13.42-7.25,26.48-15.26,39.88-22.59,6.08-3.33,12.15-6.68,18.16-10.13Z"/>
                </g>
              </g>
              <g id="Section_6" data-name="Section 6">
                <path class="cls-2" d="m367.08,663.83c12.17-20.35,24.63-40.64,36.8-61.65,20.73,11.61,44.63,18.23,70.08,18.23s51.09-7.12,72.33-19.53c23.17,38.93,48.26,77.12,69.76,116.76-31.96,17.79-65.87,31.1-102.04,35.36-13,1-26,3-39,3-20-1-27.25-1.11-59.51-7.11-4.05-.75-5.19-1.17-12.05-3.03-5.41-1.47-48.6-15.89-67.27-27.97,9.83-18.41,20.26-36.26,30.91-54.06Z"/>
              </g>
              <g id="Section_5" data-name="Section 5">
                <path class="cls-2" d="m566.17,633.29c-6.57-10.84-13.27-21.6-20.18-32.23,21.5-12.48,39.45-30.38,52.01-51.82,29.01,15.79,58.01,31.57,87.02,47.36,10.61,5.77,21.21,11.55,31.82,17.32-23.74,43.18-60.04,77.82-100.7,103.32-6.56-10.73-12.99-21.55-19.39-32.38-10.16-17.21-20.22-34.48-30.59-51.57Z"/>
              </g>
              <g id="Section_4" data-name="Section 4">
                <g id="Calque_2-5" data-name="Calque 2">
                  <path class="cls-2" d="m668.99,404.87c-19.68,7.71-39.43,15.48-59.59,23.93,5.31,15,8.21,31.13,8.21,47.95,0,26.32-7.08,50.98-19.43,72.18,38.27,23.19,79.32,42.5,118.46,65.13,41.38-70.19,46.75-159.55,17.5-235.28-21.92,9.18-43.48,17.6-65.14,26.09Z"/>
                </g>
              </g>
              <g id="Section_3" data-name="Section 3">
                <g id="Calque_2-6" data-name="Calque 2">
                  <path class="cls-2" d="m600.81,371.02c19.59-16.86,39.61-33.21,59.08-50.19,8.59-7.49,16.8-15.43,26.25-21.92,20.09,23.76,36.82,50.84,47.99,79.88-41.28,18.41-83.39,32-124.67,50.14-5.68-16.09-14.15-30.87-24.82-43.75,5.34-4.78,10.74-9.49,16.17-14.16Z"/>
                </g>
              </g>
              <g id="Section_2" data-name="Section 2">
                <g id="Calque_2-7" data-name="Calque 2">
                  <path class="cls-2" d="m574.51,357.25c18.5-22.31,36.99-44.62,55.49-66.93,7.09-8.55,14.19-17.11,21.28-25.66,12.58,10.37,24.25,21.85,34.82,34.26-9.14,7.71-18.28,15.42-27.42,23.14-24.78,20.93-49.53,41.9-74.16,62.99-5.46-6.57-11.49-12.65-18.02-18.15,2.67-3.22,5.33-6.43,8-9.65Z"/>
                  <path class="cls-2" d="m572.6,359.56c23.4-29.56,47.4-58.56,71.95-86.68"/>
                </g>
              </g>
              <g id="Section_1" data-name="Section 1" style="color:blue;">
                <path data-direction-target="fill" class="cls-2" d="m378.09,218.1c-28.25,10.33-54.66,25.44-77.6,45.85,28.01,33.93,53.8,67.93,82.18,101.88,24.82-20.45,56.61-32.75,91.28-32.75s67.56,12.72,92.57,33.8c21.16-25.52,42.32-51.04,63.49-76.57,7.19-8.67,14.12-16.97,21.31-25.63-51.68-42.64-118.84-66.8-187.31-63.69-29.39,1.55-58.52,7.08-85.91,17.1Z"/>
              </g>
            </g>
            <g id="Arrows">
              <path data-action="click->direction#angle" data-direction-section-param="10" id="a10" data-value="10" class="cls-4" d="m311.7,311.5l-8.8,11.6c-.5.5-1.3.4-1.4-.2l-6.9-30c-.1-.6.5-1.2,1.3-1.2l29,9.7c.3.5.4,1.3-.2,1.7l-11.5,7.1"/>
              <path data-action="click->direction#angle" data-direction-section-param="9" id="a9" data-value="9" class="cls-4" d="m275.9,359l-4.5,13.8c-.2.7-1.1.8-1.4.2l-16.4-26c-.3-.6.1-1.3.9-1.6l30.5-.4c.5.3.8,1.1.4,1.6l-8.5,10.5"/>
              <path data-action="click->direction#angle" data-direction-section-param="8" id="a8" data-value="8" class="cls-4" d="m246.6,481.7l2.6,14.3c.1.7-.6,1.2-1.1.9l-26.7-15.2c-.5-.3-.6-1.2,0-1.8l26.8-14.9c.6.1,1.2.6,1.1,1.3l-2.5,13.2"/>
              <path data-action="click->direction#angle" data-direction-section-param="7" id="a7" data-value="7" class="cls-4" d="m314,635.1l11.6,8.8c.5.5.4,1.3-.2,1.4l-30,6.9c-.6.1-1.2-.5-1.2-1.3l9.6-29.1c.5-.3,1.3-.4,1.7.2l7.1,11.5"/>
              <path data-action="click->direction#angle" data-direction-section-param="6" id="a6" data-value="6" class="cls-4" d="m479.7,704.9l14.3-2.5c.7-.1,1.2.6.9,1.1l-15.2,26.7c-.3.5-1.2.6-1.8,0l-14.9-26.8c.1-.6.6-1.2,1.3-1.1l13.2,2.5"/>
              <path data-action="click->direction#angle" data-direction-section-param="5" id="a5" data-value="5" class="cls-4" d="m640.3,633.8l8.3-12c.4-.6,1.3-.5,1.4.2l8.2,29.6c.2.6-.4,1.2-1.3,1.3l-29.5-8.4c-.3-.5-.4-1.3.1-1.7l11.2-7.6"/>
              <path data-action="click->direction#angle" data-direction-section-param="4" id="a4" data-value="4" class="cls-4" d="m697.5,480.3l-2.5-14.3c-.1-.7.6-1.2,1.1-.9l26.7,15.2c.5.3.6,1.2,0,1.8l-26.8,14.9c-.6-.1-1.2-.6-1.1-1.3l2.5-13.2"/>
              <path data-action="click->direction#angle" data-direction-section-param="3" id="a3" data-value="3" class="cls-4" d="m678.3,358l-8.7-11.7c-.4-.6,0-1.4.6-1.3l30.7,1.8c.6.1,1,.8.8,1.6l-17.4,25.2c-.5.2-1.3,0-1.5-.7l-3.6-13"/>
              <path data-action="click->direction#angle" data-direction-section-param="2" id="a2" data-value="2" class="cls-4" d="m638.8,310.3l-12.1-8.1c-.6-.4-.5-1.3.2-1.4l29.5-8.6c.6-.2,1.2.4,1.3,1.3l-8,29.6c-.4.4-1.3.4-1.7-.1l-7.7-11"/>
              <path data-action="click->direction#angle" data-direction-section-param="1" id="a1" data-value="1" class="cls-4" d="m478.3,243.1l-14.3,2.6c-.7.1-1.2-.6-.9-1.1l15.2-26.7c.3-.5,1.2-.6,1.8,0l14.9,26.8c-.1.6-.6,1.2-1.3,1.1l-13.2-2.5"/>
            </g>
            <rect id="Border" class="cls-1" width="952" height="952"/>
          </svg>
        </div>
        <img id="boat" data-direction-target="boatSelector" data-map-game-target="boatSelector" class="boat-rotate"  src="https://res.cloudinary.com/dwclozjta/image/upload/v1678960217/boat_commandes_yellow_xjcscb.png" alt="touches drectionnelles" style="position:absolute; height: 400px; left: -18px; transform: <%= boat_direction_to_angle(1, @wind_direction) %>; z-index: 1;">

        <div class="d-none">
          <%= simple_form_for(@boat, html: {data: { direction_target: "form"}}) do |f|%>
            <%= f.input :direction, input_html: {data: { direction_target: "input"}} %>
            <%= f.submit %>
          <% end %>
        </div>

      </div>
  </div>
</div>
